{% extends "exphome.html" %}
{% block content %}
<section> </section>
<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Users</h2>
     
      
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">
          {% for user in users %}
          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="service-card d-flex">
              <div>
                <h3>{{ user.name }}</h3>
                <p>Income: {{ user.email }}</p>
                
                
                
                
                <a href="/expert_chat?uid={{user.id}}" class="btn btn-primary">Chat</a>
              </div>
            </div>
          </div><!-- End Service Card -->
          {% endfor %}
        </div>
      
      </div>
      

  </section><!-- /Services Section -->


{% endblock content %}


