{% extends "user_base.html" %}
{% block content %}

<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Experts</h2>
     
      
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">
          {% for expert in experts %}
          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="service-card d-flex">
              <div>
                <h3>{{ expert.name }}</h3>
                <p>Income: {{ expert.email }}</p>
                
                
                
                
                <a href="/user_chat?uid={{expert.id}}" class="btn btn-primary">Chat</a>
              </div>
            </div>
          </div><!-- End Service Card -->
          {% endfor %}
        </div>
      
      </div>
      

  </section><!-- /Services Section -->


{% endblock content %}


